<center>
<div class="column50">
<div class="jumbotron">
  <h3> Envoyez nous un message </h3>
  <br>
  <center><textarea placeholder="Miaou, miaou, miaou !" cols="70" rows="10"></textarea></center>
  <p class="lead"><center>
    <button class= "btn btn-outline-primary btn-lg" > Envoyer <i class="fas fa-cat fa-4x"></i></button>
    </center>
  </p>
</div>
</div>
</center>
