/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require theme
 *= require css/feather.min
 *= require css/iziToast.min
 *= require css/jquery.fancybox.min
 *= require css/nouislider.min
 *= require css/owl.carousel.min
 *= require css/socicon.min

 */

 html{
   height:100%;
 }

 footer{
  position: relative;
  bottom: 0;
  width: 100%;
 }

 .signature{
   color:#f5f5f5;
   font-weight: bold;
 }

 /*** LOGIN FORM ***/
 #LoginForm{
  padding: 10%;
}
 .column50{
   margin: 5% 7% 5% 7%;
 }
 .jumbotron{
   width: 700px;
   height: 450px;
   box-shadow: 1px 1px 20px 2px #ac32e4;
 }
 .form-contact{
   background-color:white;
   color:#343b43;
   font-size: 20px;
   font-weight: bold;
 }

 /*** REGISTER FORM ***/
#RegisterForm{
  margin-bottom:5%;
  padding: 3%;
}

.pymtbutton{
  display: flex;
  justify-content: center;
}

.stripe-button-el {
  background-color: black;
}